<h1 class="text-center mt-5">New Entry</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <%= form_with(model: @entry) do |form| %>

            <div class="mb-3">
                <%= form.label :name %>
                <%= form.text_field :name %>
            </div>

            <div class="mb-3">
                <%= form.label :link %>
                <%= form.text_field :link %>
            </div>

            <div class="d-grid gap-2 mt-4">
                <%= form.submit %>
                <%= link_to "Back to home", root_path %>
            </div>

            <% end %>

        </div>
    </div>
</div>